{
  "mcpServers": {
    "flight-demo": {
      "command": "Kiro_Project\\flight-mcp\\.venv\\Scripts\\python.exe",
      "args": [
        "Kiro_Project\\flight-mcp\\server.py"
      ],
      "env": {
        "DUFFEL_ACCESS_TOKEN": "${DUFFEL_ACCESS_TOKEN}"
      },
      "disabled": false,
      "autoApprove": [
        "search_flights",
        "get_flight_price",
        "prepare_booking",
        "get_test_order"
      ]
    }
  }
}
